<h2>Globale variable</h2>
<ul>
    <li>Globale variabler er ONDE. </li>
    <li>De er properties på det <em>globale objektet</em></li>
    <li>i browser er det globale objektet <code>window</code></li>
    <li>bør unngås</li>
    <li>Når man bruker global variable navngi de med STORE_BOKSTAVER </li>
    <li>Forglemmelse av <code>var </code> gir global variabel.</li>
</ul>
