<h2>Konstante</h2>
<ul>
    <li> ES6, er ikke implementert i alle browsere.</li>
    <li> Bør ikke brukes ennå </li>
    <li> Må initialiseres </li>
    <li> Kan ikke endres </li>
    <li> Får ingen feil hvis man overskriver den med en <code>var</code>, men den endres ikke </li>
</ul>
<pre><code contenteditable>const applikasjonsNavn = "Skattestasi";</code></pre>