<h2>Variabler</h2>
<pre><code contenteditable>var uinitialisertVariabel;
var navn = 'Ken';
adresse = 'Jon Lilletunsvei 1'; // denne blir global
var mittObjekt = {
    navn: 'Ken Are Astrup',
    adresse: 'Jon Lilletunsvei',
    telefon: 41274119
};
var nyttObjekt = {};
var nyArray = [];</code></pre>
<aside class='notes'>
    <ul>
        <li>adresse = global</li>
    </ul>
</aside>
