<h2>Variabler - tips</h2>
<ul>
    <li>Deklarer variablene sammen og øverst i funksjonen</li>
    <li>Variablene har function scope, ikke block scope</li>
    <li>Uten kodeordet <code>var</code> blir variablene globale (og onde)</li>
    <li>Variabel-deklarasjonen hoistes, ikke initialiseringen</li>
</ul>