<h2>Array literals</h2>

<pre><code>var tomArray = [];
var numberArrayLiteral = [1,2,3];
console.log(numberArrayLiteral[0]); // aksessere array

var mixedTypeLiteral = ['streng', true, 2, [1,2,3], {navn:"ken"}];
var b = [1,,3]; // b[1] === undefined
var c = [1,2,]; // ekstra komma på slutten blir ignorert
var d = [,2]; // d[0] === undefined

// NB! NB!
var e = [1,2];
e[10] = "ti";
console.log(e.length); // 11, selv om det bare er tre
console.log(e.toString()); // 1,2,,,,,,,,,ti
</code></pre>

