<ul>
   <li>Aldri bruk <code> new Array() </code><li>
   <li>Uheldige effekter => Bad parts</li>
</ul>
<pre><code>var array = new Array(10,20);
console.log(array); // [1,2]
console.log(array.length); // 2

var array2 = new Array(10);
console.log(array2); // ?  = []!
console.log(array2.length); // ? = 10!

</code></pre>