<h2> Array metoder</h2>

<ul>
    <li><a href="http://www.w3schools.com/jsref/jsref_obj_array.asp">alle browsere</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array">nyere browsere </a></li>
</ul>