<h2>Literals</h2>
<ul>
    <li>String</li>
    <li>Number</li>
    <li>Boolean</li>
    <li>Null</li>
    <li>Undefined</li>
</ul>
<pre><code>var streng = "streng",
    num = 12,
    bool = true,
    nullObjekt = null,
    udefinert = undefined;
</code></pre>