<h2>Objekt literals</h2>
<ul>
    <li> Javascript objekter defineres innenfor barte-parantes </li>
    <li> Javascript objekt er assosiative array (key value par) </li>
    <li> Husk: Function er førsteklasses medlem av språket! </li>
</ul>
<pre class="fragment"><code>var person = {
    ansattnr: 1,
    fornavn: "Ken",
    etternavn: "Astrup",
    fullt_navn: function () {
        return this.fornavn + " " + this.etternavn;
    }
};
console.log(person.fornavn);        // Ken
console.log(person.fullt_navn());   // Ken Astrup
console.log(person.fullt_navn);     // [Function]
</code></pre>