<h2>Historikk 1</h2>

<ul>
    <li> Mocha => Livescript => JavaScript </li>
    <li> 1995 - introdusert Brendan Eich - Netscape 2 beta</li>
    <li> 1996 - IE3 </li>
    <li> 1997 - Standardisert som EcmaScript 1 (ES1)</li>
    <li> 1998 - ES2 </li>
    <li> 1999 - ES3. varte i 10 år! </li>
    <li> 2001. JSON se <a href="http://json.org">http://json.org</a> </li>
    <ul>
        <li>"oppfunnet"/spesifisert som state holder/serialisering</li>
        <li>Egentlig bare vanlig ES3 objekt </li>
        <li>Nå er det et språkuavhengig dataformat</li>
    </ul>
</ul>

<aside class="notes">
    <ul>
        <li> Klikk på JSON lenken. Se på enkelheten i syntaksen. Vakkert.
    </ul>
</aside>

