<h2>Historikk 2</h2>

<ul>
    <li> Flere "Ajax"-biblioteker blir skrevet </li>
    <li> 2005 - Ajax ble kalt Ajax </li>
    <li> 2008? - ES4 droppet. Uenighet om kompleksitet i språket </li>
    <li> 2009 - ES5 tidligere kjent som ES3.1 </li>
    <ul>
        <li> strict mode - et subsett av ECMAScript </li>
        <li> Fjernet en del tvetydigheter fra ES3 </li>
        <li> noen få features kommer til - getters og setters, json, reflection </li>
    </ul>
    <li> 2011. ES5.1 </li>
    <li> In Progress - ES6 "Harmony", aka JS.next  - færre endringer enn ES4, vedtas sent 2014? </li>
    <li> TM for Oracle. Fikk fra Sun</li>
</ul>

<aside class="notes">
    <ul>
        <li>Jesse James Garrett in an article entitled "Ajax: A New Approach to Web Applications</li>
    </ul>
</aside>