<h2> Hva er JavaScript </h2>

<ul>
    <li> Programmeringsspråket i browseren </li>
    <li> Etterhvert også serverside </li>
    <li> Scriptespråk uten særlig seremonier </li>
    <li> Dynamisk typet</li>
    <li> OO + funksjonell programmering </li>
    <li> Java-aktig syntaks </li>
    <li> Semantikk fra Self og Scheme </li>
    <li> Lite og enkelt </li>
</ul>

<aside class="notes">
    <ul>
        <li> Uten seremonier: trenger ingen klasser, trenger ingen main() metode </li>
    </ul>
</aside>