<h2> REPL </h2>
<ul>
    <li> Read - Eval - Print - Loop </li>
    <li> <a href="http://jsbin.com/" target="repl">JSBin.com</a>
    <li> <a href="http://repl.it" target="repl"> Repl.it </a>
</ul>
<iframe style="width:1000px;height:500px;" id="repl" />