<h2>function expression</h2>

<ul>
    <li>instansierer et function objekt</li>
    <li class="fragment">Funksjonsobjekter er førsteklasses medlemmer
    <ul>
        <li>kan legges i en variabel </li>
        <li>kan lagres i et objekt eller array</li>
        <li>kan sendes som parametre til andre funksjoner</li>
        <li>kan returneres fra en funksjon</li>
    </ul>
    </li>
    <li class="fragment">Funksjonsobjekter arver fra Function.prototype</li>
</ul>

<aside class="notes">
    <ul>
        <li>Siden Function.prototype har funksjoner, har alle funksjoner metoder.</li>
    </ul>
</aside>