## Konstruktør form
    new FunctionObjekt(parametre)

- <code>new</code> operatoren oppretter nytt objekt og dette objektet blir <code>this</code>
- hvis ingen <code>return</code> statement; <code>this</code> blir returnert
- brukes i pseudoklassisk stil

<aside class="notes">
    <ul>
        <li>kommer tilbake til hva pseudoklassisk stil er</li>
    </ul>
</aside>