<h2><code>this</code> oppsummert</h2>
<table style="width:1000px">
    <thead style="background-color:green">
        <tr>
            <td>form</td>
            <td><code>this</code></td>
        </tr>
    </thead>
    <tbody style="background-color:grey;">
        <tr>
            <td>function</td>
            <td>det globale objektet<br/>ES5/strict: <code>null</code></td>
        </tr>
        <tr>
            <td>metode</td>
            <td>objektet</td>
        </tr>
        <tr>
            <td>konstruktør</td>
            <td>det nye objektet</td>
        </tr>
        <tr>
            <td>apply / bind</td>
            <td>sendt inn som parameter</td>
        </tr>
    </tbody>
</table>
<aside class="notes">
    <ul>
        <li>her er oppsummeringen</li>
        <li>kommer an på hvordan funksjonen blir kalt</li>
        <li><code>this</code> bindes i runtime i javascript</li>
        <li>i motsetning til java der klassen alltid er this</li>
    </ul>
</aside>