<h2>var statement</h2>
<ul>
    <li>splittes i to
        <ul>
            <li>deklarasjonen blir <em>hoisted</em> opp til toppen av funksjonen og initialiseres med <code>undefined</code></li>
            <li>initialiseringsdelen blir til et vanlig assignment statement der hvor <code>var</code> statementet er</li>
        </ul>
    </li>
    <pre class="fragment roll-in"><code data-trim>
// dette
function func() {
    dette_er_et_funksjonskall();
    var min_variabel = 0,
        min_andre_variabel;
}

// ender opp som dette
function func () {
    var min_variabel = undefined,
        min_andre_variabel = undefined;
    dette_er_et_funksjonskall();
    min_variabel = 0;
}
</code></pre>
</ul>