<h2> dynamiske typet </h2>
<ul>
    <li> Bare en liten reminder! </li>
    <li> NB! JavaScript har dynamiske typer </li>
    <li> Dvs en variabel eller parameter kan brukes til forskjellige typer</li>
</ul>
<pre><code>var a; // undefined
a = 1; // Number
a = "Ken"; // String</code></pre>