<h2>Number - spesielle verdier </h2>
<ul>
    <li>NaN - Not a number. Matematiske operasjoner på upassende data </li>
    <li>Positiv uendelighet (Infinity)</li>
    <li>Negativ uendelighet (-Infinity</li>
    <li>Positiv og negativ null. IEEE 754 skiller på dette.</li>
</ul>
<pre><code>var positiv_uendelighet = 1 / +0; // Infinity
var negativ_uendelighet = 1 / -0; // -Infinity

//MEN!
console.log(+0 === -0) // true!!!!

console.log(NaN === NaN); //false
console.log(NaN !== NaN); //true
console.log(isNaN(NaN));  // true
console.log(typeof NaN);  // number, selv om NotANumber!
</code></pre>