<h2>Number</h2>
<ul>
    <li>Spec: "Double-precision 64-bit format IEEE 754 values"</li>
    <li>JavaScript skiller IKKE på integer og flyttall</li>
    <li>Samme operatorer som Java (+, -, /, *, %, ++, --)</li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number">Properties og metoder</a></li>
</ul>
<pre><code data-trim contenteditable class="javascript" style="align:left">var null_komma_tre = 0.1 + 0.2;
console.log(null_komma_tre); // gir 0.30000000000000004

console.log(null_komma_tre === 0.3); //false</code></pre>