<h2>Number - flyttall </h2>
<ul>
    <li>desimale tall med komma</li>
    <li>scientific notasjon(10 opphøyd i ...)</li>
</ul>

<pre><code>var a = 0.0001; // desimalt, kan se ut som oktalt(begynner med 0), men oktal kan ikke ha tall etter komma
var b = .0001;
var c = 1.0e-4;
var d = 1e-4;   // (1 * 10 opphøyd i i -4) = 0.0001
var e = 1.23e2; // (1.23 * 10 opphøyd i 2)  = 123
var f = 07;     // oktalt
var g = 08;     // desimalt. kan se ut som et oktalt tall, men 8 er ikke gyldig oktalt siffer. => Desimalt
var h = 0x37ff  // hex.
var i = 0x3e7   // hex. e er IKKE eksponent
var j = 0x3.14  // feil hex kan ikke ha tall etter komma
</code></pre>