<h2>Number - integers</h2>
<ul>
    <li>Kan ha positive heltall, negative heltall eller 0</li>
    <li>Kan representere hexadesimale, oktale eller desimale verdier</li>
    <li>Oktale og heksadesimale tall kan bare være integers, altså ikke ha tall etter komma</li>
</ul>
<pre><code>var en = 1,
    tallet_null = 0,
    minus_en = -1,
    oktal_verdi = 01,
    heksadesimal_verdi = 0x1;
</code></pre>