<h2>String</a></h2>
<ul>
    <li>String er en sekvens av null eller flere Unicode tegn</li>
    <li><a href="http://www.w3schools.com/jsref/jsref_obj_string.asp">Properties og metoder</a></li>
</ul>

<pre><code>"hallo".length         // 5
"hallo".toUpperCase(); // HALLO
"hallo".slice(3);      // lo
var hallo = "hallo";</code></pre>

