<h2>Javascript typer</h2>
<div class="fragment">
    <h3>Primitive typer </h3>
    <ul>
        <li>String</li>
        <li>Number</li>
        <li>Boolean</li>
    </ul>
</div>
<div class="fragment">
    <h3>Spesielle typer - ikke objekter</h3>
    <ul>
        <li>Null</li>
        <li>Undefined</li>
    </ul>
</div>

<div class="fragment">
    <h3> Sammensatte typer </h3>
    <ul>
        <li>Object</li>
        <li>Array</li>
    </ul>
</div>