<h2>Undefined  og null</h2>
<ul>
    <li>Eneste som ikke er objekter i JavaScript</li>
    <li><code>undefined</code> er verdien til en variabel uten verdi </li>
    <li>variabler kan tømmes ved å sette verdien til <code>null</code></li>
    <li>Evalurer til false i boolean uttrykk </li>
</ul>

<pre><code>var a, undef;
console.log(typeof a);     // "undefined"
console.log(a === undef);  // true
a = 1;
a = null;                  // tømmer a
console.log(typeof a);     // NB! "object"
console.log(a === null);   // true
console.log(a === undef)   //false
</code></pre>