<h1>Andre typer</h1>
<ul>
    <li> null = bevisst fravær av verdi </li>
    <li> undefined = ikke initialisert verdi </li>
    <li> boolean = true/false </li>
    <ul>

    </ul>
    <li> alt annet er true</li>
</ul>
