<h1> <a href="http://www.w3schools.com/jsref/jsref_obj_array.asp2">Array</a> </h1>
<p> Arrays er nyttige </p>
<pre>
<code>
var minArray = [];

var minArray = [1,2,3,4];

var minArray = [1,"to",new Date()];
</code></pre>
