<h1> boolean </h1>
<p> NB! spesielt for JavaScript. </p>
<h2> Falsy </h2>
<ul>
    <li> false </li>
    <li> 0 </li>
    <li> "" (tom streng) </li>
    <li> NaN </li>
    <li> null </li>
    <li> undefined </li>
</ul>

<h2> Truthy</h2>
<p> ALT ANNET!!! </p>