<aside class="notes">
    <ul>
        <li> klikk inn på Date overskrifta. se på definisjonen</li>
        <li> konstruktører </li>
        <li> funksjoner </li>
        <li> Date er nokså rett fram og du finner det du forventer. </li>
    </ul>
</aside>
<h1><a href="http://www.w3schools.com/jsref/jsref_obj_date.asp">Date</a></h1>

