<h2>Kompatibilitet</h2>

med ES5.1. <br/> Feil er ikke vektet. <br/>Men det gir jo en Pekepinn

<table>
    <tr>
        <th> Produkt </th>
        <th> Versjon </th>
        <th> #Testfeil </th>
    </tr>
    <tr class="fragment">
        <td> Firefox </td>
        <td> 28.0 <td>
        <td> 49 </td>
    </tr>
    <tr class="fragment">
        <td> Google Chrome </td>
        <td> 33.0 <td>
        <td> 13 </td>
    </tr>
    <tr class="fragment">
        <td> Opera </td>
        <td> 20.0 <td>
        <td> 12</td>
    </tr>
    <tr class="fragment">
        <td> Safari </td>
        <td> 7.0 <td>
        <td> 8 </td>
    </tr>
    <tr class="fragment">
        <td> Internet Explorer </td>
        <td> 11.0 <td>
        <td> 7 </td>
    </tr>
</table>
