<h1>Number operatorer</h1>
<ul>
    <li> + (addisjon) </li>
    <li> - (subtraksjon) </li>
    <li> / (divisjon) </li>
    <li> * (multiplikasjon) </li>
    <li> % (modulo) </li>
    <li> ++ (inkrement) </li>
    <li> -- (decrement) </li>
    <li> Se <a href="http://www.w3schools.com/jsref/jsref_obj_number.asp"> Number </a></li>
    <li> I tillegg se <a href="http://www.w3schools.com/jsref/jsref_obj_math.asp">Math</a> </li>
</ul>