<aside class="notes">
<ul>
    <li> dette er en test </li>
    <li> dette er test nummer 2 </li>
</ul>
</aside>
<h2>Number</h2>

<p>Spec: "Double-precision 64-bit format IEEE 754 values"</p>
<p>NB! Dvs ingen integer</p>
<p>NB!</p>
<pre><code data-trim contenteditable class="javascript" style="align:left">var null_komma_tre = 0.1 + 0.2;
console.log(null_komma_tre);
// gir 0.30000000000000004
console.log(null_komma_tre === 0.3);

if (null_komma_tre === 0.3) {
    console.log("like");
} else {
    console.log("ulike");
}</code>

</pre>
<p> NaN er en spesiell <em> verdi</em> </p>
