<h1> Number NB!</h1>
<ul>
    <li>INGEN integer</li>
    <li>Floating point number. Vanskelig å regne med.</li>
    <li>NaN (Not a Number). Aldri lik noe annet, heller ikke selv</li>
    <li>parseInt(string [, radix]) er skummel. Ikke bruk!</li>
</ul>