<h2><a href="http://www.w3schools.com/jsref/jsref_obj_string.asp">String</a></h2>

<p>String er en sekvens av Unicode tegn</p>

<code><pre>
"hallo".length
; 5

"hallo".toUpperCase();
; HALLO

</pre>
</code>
