<h2>Typer 2</h2>

<p>Egentlig er det slik: </p>
<ul>
    <li>Number</li>
    <li>String</li>
    <li>Boolean</li>
    <li>Object</li>
    <ul>
        <li>Function</li>
        <li>Array</li>
        <li>Date</li>
        <li>RegExp</li>
    </ul>
</ul>
