<h2>Transitivitet?</h2>
<code>
<ul>
    <li>0 == ''          // true </li>
    <li>0 == '0'         // true </li>
    <li>'' == '0'        // false </li>
    <li>false == 'false' // false </li>
    <li>false == '0'     // true </li>
    <li>Bruk alltid === ikke == </li>
</ul>
