<h2>&& og ||</h2>
<pre><code data-trim contenteditable>

console.log("string" && {}); // ??

console.log(undefined || 0); // ??

</code></pre>

<ul>
    <li class="fragment roll-in">&&: Returnerer verdien i operand 1 hvis falsy, ellers operand 2</li>
    <li class="fragment roll-in">||: Returnerer verdien i operand 1 hvis truthy, ellers operand 2</li>
    <li class="fragment roll-in">NB! Dette virker som vanlig i <code> if </code>. Men husk truthy/falsy </li>
</ul>

<pre class="fragment roll-in"><code data-trim contenteditable>

// assigne default verdi
var navn = navn || 'Ken';
console.log(navn); // Ken

var navn = navn || 'Benny';
console.log(navn); // Ken

</code></pre>

<aside class="notes">
    <ul>
        <li> && gir tomt objekt</li>
        <li> || gir 0 </li>
        <li> eksemplet assigner altså navn til navn-variablen hvis den ikke eksisterer fra før
    </ul>
</aside>
