<h2>Bruk alltid === (og !==)</h2>
<ul>
    <li>Kalles deep equals</li>
    <li>For primitiver; sjekker om verdien er den samme</li>
    <li>For objekter; sjekker om det er det samme objektet</li>
    <li>Husk: selv om du er lur, er det ikke sikkert neste mann er like lur</li>
</ul>
<pre><code data-trim contenteditable>
var ken = {
    alder : 44,

    valueOf : function(){
        return this.alder;
    }
}
44 == person // true
44 === person // false
44 === 44 // true</code></pre>