<h2>IF</h2>
<pre style="width:1280px;"><code contenteditable>if (minPappa.styrke() > dinPappa.styrke()) {
    console.log('min pappa er sterkere enn din pappa!');
}

if (minPappa.kgIBenkpress > 100)
    console.log('min pappa er sterk'); // BEHØVER ikke barteparantes!
else if ( !minPappa.kgIBenkpress ) {
    console.log('min pappa trener ikke benkpress');
} else {
    console.log('min pappa er ikke særlig sterk! Hysj!');
}</code></pre>