<h2>Ikke bruk == og !=</h2>
<ul>
    <li>Funker bra hvis a og b er av samme type og har samme verdi</li>
    <li>Ved ulik type vil typekonvertering (coersion) benyttes</li>
    <li>{} til number via Object.prototype.valueOf()</li>
    <li>{} til string via Object.prototype.toString()</li>
    <li>Vanskelig å holde tunga rett i munnen her</li>
</ul>
<pre><code data-trim contenteditable>
1 == 1 // true
1 == "1" // true
false == "0" // true

var person = {
    navn : 'Ken',

    toString : function(){
        return this.navn;
    }
}
'Ken' == person // true


</code></pre>