<h2>switch</h2>
<ul>
    <li>Kan også switche på ulike datatyper! (hvis du må!)</li>
    <li>Bruk ALLTID break</li>
</ul>
<pre><code contenteditable>switch(by) {
    case 1:
        console.log('Javel!');
        break;
    case 7 - 5:
        console.log('Kan til og med bruke expressions!');
        break;
    case 'BERLEVÅG':
        console.log('Der e du din hestkuk!');
        break;
    default:
        console.log('Hei!');
        break;
}</code></pre>
