<h2>Betingelser</h2>
Hvilken verdi kan <em>variabel</em> ha for at "test" skal skrives i konsollet?

<pre><code contenteditable>var variabel = ???

if(!variabel){
    console.log("test");
}
</code></pre>