<h2>break</h2>
<ul>
    <li>Hopper ut av loopen og fortsetter <em>etter</em> loopen</li>
</ul>
<pre><code contenteditable>for (var i = 0; i < 10; i = i + 1) {
    if (i === 3){
        break;
    }
    console.log(i);
} </code></pre>
