<h2>continue</h2>
<ul>
    <li>Avbryter prosessering i en iterasjon i loopen og fortsetter på neste iterasjon</li>
    <li>Unngå å bruke? Goto? </li>
</ul>
<pre><code contenteditable>for(var i = 0; i < 10; i = i + 1) {
    if (i===3){
        continue;
    }
    console.log(i);
} </code></pre>
