<h2>for-in loop</h2>
<ul>
    <li>Iterere over properties på objekter (uten bibliotek)</li>
    <li>Litt "skummel" å bruke. Det er ikke alltid man ønsker alle properties, feks functions fra prototypen</li>
    <li>Ikke lik implementasjon i alle browsere</li>
    <li>Property styring på itererbarhet i ES5 og man bruker Object.create for å opprette objekter</li>
</ul>

<pre><code contenteditable>var spiller = {
    navn: 'Jekyll',
    tittel: 'Dr',
    kallenavn: 'Mr Hyde'
};

for (var property in spiller) {
    console.log(property + '=' + spiller[property]);
}
// lister ut: navn=Jekyll, tittel=Dr, kallenavn=Mr Hyde</code></pre>