<h2>labels</h2>
<ul>
    <li>brukes sammen med <code>break</code> og <code>continue</code></li>
    <li><code>continue</code> kan kun brukes inni loop (med eller uten label)</li>
    <li><code>break</code> uten label kan kun brukes i <code>loop</code> eller <code>switch</code></li>
    <li><code>break</code> med label kan brukes for å hoppe ut av hvilken som helst kode blokk</li>
    <li>sjeldent brukt</li>
</ul>
<pre><code contenteditable>var byer=["Bergen","Stavanger","Kristiansand","Arendal"];
list:
{
    console.log(byer[0]);
    console.log(byer[1]);
    console.log(byer[2]);
    break list;
    console.log(byer[3]);
}
console.log('fortsetter her');</code></pre>
