<h2>Chai expect eksempler</h2>
<pre style="width:900px"><code data-trim contenteditable>expect(true).to.be.true;
expect(1).to.be.ok; // truthy
expect(true).not.to.be.false;
expect(true).to.equal(true);
expect('ken').to.equal('ken');
expect('test').to.be.a('string');
expect({ "navn": "Ken" }).to.be.an('object');
expect('Ken Astrup').to.contain('strup');
expect(null).to.be.null;
expect(undefined).to.be.undefined;
expect(1).to.be.an.instanceof(Number);</code></pre>
