<h2>Mocha oversikt</h2>
<ul>
    <li>describe = test suite </li>
    <li>describe kan nøstes </li>
    <li>it = enkel test </li>
    <li>before, after, beforeEach, afterEach</li>
</ul>


<pre><code contenteditable>describe("ytterste test suite", function () {
    it("første enhetstest", function () {
        expect("denne").to.equal("denne");
    });

    describe("nest ytterste test suite", function () {
        it("tautologi", function () {
            expect(true).to.equal(true);
        });
        it("alltid false", function () {
            expect(true).not.to.equal(false);
        });
    });
});</code></pre>
