<h2>Øvinger</h2>
<ul>
    <li>Alle øvelsene er enhetstester i Mocha + Chai</li>
    <li>Mocha er test-rammeverk</li>
    <li>Chai er assertion rammeverk</li>
    <li class="fragment">Se på kode (LEGG INN LINK TIL EKSEMPEL HER)</li>
</ul>
