<h2>JSLint</h2>
<ul>
    <li> TODO: plasser denne sammen med javasammenlikning
</ul>

<pre style="width:500px;"><code contenteditable>
var ken = 'tøysekopp';
</code></pre>

<pre style="width:500px;float:right;display:inline"><code>
var ken = 'tullekopp';
</code></pre>