<h2> Klasseløst </h2>
<ul>
    <li>JavaScript er ikke et "klassisk" språk. Man kan ikke opprette klasser. </li>
    <li>Arv skjer via objekter, dvs prototyper</li>
    <li>Kraftig, enkelt å utvide et objekts egenskaper, også etter det er opprettet. </li>
    <li>Det er mulig å imitere klasser </li>
</ul>

<iframe style="width:1200px; height:500px" src="http://jsbin.com/zupof/1/embed?js,console"></iframe>
