<h2>Constructor function</h2>
<pre><code>function Menneske(navn, by) {
    this.navn = navn;
    this.by = by;
};

var menneske = new Menneske('Ken', 'Kristiansand');</code></pre>

<ul>
    <li>Man gir konstruktørfunksjoner stor forbokstav by convention </li>
    <li>Man kaller konstruktør funksjonen med <code>new </code></li>
    <li>Objektet blir opprettet med konstruktørfunksjon som prototype</li>
    <li>et objekts prototype er "immutable" (kan bruke den deprekerte __proto__ til å resette den til Object)</li>
    <li>Også prototypekjeden er "immutable"</li>
    <li>Når man bruker <code>new</code> </li>
    <ol>
        <li>et nytt objekt opprettes og prototypen settes til konstruktørfunksjonens prototype</li>
        <li>konstruktørfunksjonen kalles med nye objektet bundet til <code>this</code></li>
        <li>hvis funksjonen ikke returnerer noe, så returneres <code>this</code> implisitt</li>
    </ol>
    <li>det er altså <code>new</code> som er interessant, ikke funksjonen</li>
    <li>Man kan legge til funksjoner på prototypen. Det tilsvarer omtrent statiske funksjoner </li>
    <li> instanceof fungerer i hele prototype kjeden </li>
</ul>
