<h2>Opprette Plain Old JavaScript Objekter</h2>
<pre><code>
var menneske = new Object();
// tilsvarer. De fleste anbefaler denne
var menneske = {};

// sette properties
menneske.kjonn = 'Mann';
menneske.navn = 'Ken';

//tilsvarer
var menneske = {
    kjonn: 'Mann',
    navn: 'Ken'
};</code></pre>