<h2>strict mode</h2>
<blockquote>Strict Mode is a new feature in ECMAScript 5 that allows you to place a program, or a function, in a "strict" operating context. This strict context prevents certain actions from being taken and throws more exceptions.
</blockquote>
<div style="size .5em;">http://ejohn.org/blog/ecmascript-5-strict-mode-json-and-more/</div>
