<h2> Fordeler - strict mode </h2>
<ul>
    <li> Unngår noen vanlige kodefeil - exception kastes </li>
    <li> Gjør at man ikke får lov til, eller feil kastes, dersom man forsøker å gjøre "usikre" handlinger (som f.eks å aksessere det globale objektet) </li>
    <li> Disabler funksjonalitet som er forvirrende</li>
    <li> Bakoverkompatibel, hvis browseren ikke støtter strict mode så fungerer fortsatt koden </li>
    <li style="color:red"> Bruk alltid strict mode! Hvis du støtter nyere browser</li>
    <ul>
        <li>IE10 +</li>
        <li>Firefox 4 +</li>
        <li>Chrome 13 +</li>
        <li>Safari 6 (5) +</li>
        <li>Opera 11.6 + </li>
    </ul>
</ul>