<h2> strict mode - hvordan? </h2>
<pre><code>//hele fila
'use strict';
var variabel = ...</code></pre>

<pre class="fragment"><code>//inni klassen
function(){
    'use strict';

}</code></pre>

<ul class="fragment">
    <li> Bruk function varianten, pga uforutsigbare Minifyere </li>
</ul>