<h2>Automatisk Semicolon Insertion (ASI)</h2>
<ul>
    <li>Semikolon er valgfritt i javascript</li>
    <li>"Heldigvis" tar javascript VM høyde for dette og inserter semikolon hvor den tror det skal være!</li>
    <li>Det er etter bestemte regler, men
</ul>