<h2>ASI - moral</h2>
<ul>
    <li>Ikke prøv å være kul ved å skrive JS uten semikolon</li>
    <li>Bruk alltid JSLint, JSHint eller liknende</li>
    <li>Fiks alle js-filene slik at de passerer Linting</li>
    <li>Mange (kanskje alle) minifying verktøy krever at filene passerer JSLint</li>
    <li>Sett opp byggesystemet slik at den Linter og feiler bygget ved Lint feil</li>
    <li>Slitsomt å huske <a href="http://es5.github.io/#x7.9">ASI reglene!</a></li>
</ul>

<aside class="notes">
    <ul>
        <li>Bootstrap var helt uten semikolon, så ble det lagt inn, fjernet og lagt inn på nytt </li>
        <li>Hvorfor?</li>
        <li>Mange minify rammeverk krever at alle filene passerer JSLint </li>
        <li>Det kan oppstå mye rart under minifying</li>
        <li>Linjer slås sammen, whitespace fjernes, navn kortes ned, filer konkateneres </li>
        <li>Klikk på ASI reglene å bla litt i de </li>
    </ul>
</aside>
