<h2>Quiz. Hva returneres her?</h2>
<pre><code>var giMegEnPerson = function () {
    return
    {
        navn : 'Ken'
    };
};
giMegEnPerson().navn // ??</code></pre>
<ul>
    <li class="fragment">TypeError: Cannot read property 'navn' of undefined</li>
</ul>