<h2>Hva i huleste skjedde?</h2>
<pre><code>return; // ASI. Returnerer undefined

{ // starter en anonym blokk som ikke gjør noe

    navn : 'Ken' // her tror den at det er en LABEL for blokka 'Ken'

};// Semikolon tolket som en tom linje og flyttet ned
</code></pre>
