<h2>Enkelhet anbefales</h2>

<pre><code  contenteditable>try {
    throw 'minfeil';
} catch(e) {
    switch(e) {
        case 'minfeil':
            console.log('tester');
            break;
        default:
            console.log('ingen av de andre');
            break;
    }
}</code></pre>