<h2>Enkelhet anbefales 2</h2>

<pre><code  contenteditable>try {
    throw 'minfeil';
} catch(e) {
    if (e === 'minfeil') {
        console.log('tester');
    } else {
        console.log('ingen av de andre');
    }
}</code></pre>