<h2>Egendefinerte errors</h2>
<pre><code contenteditable>// Opprette et nytt objekt som arver fra protoypen til Error
function MinError (message) {
  this.name = "MinError";
  this.message = message || "Default melding";
}
MinError.prototype = new Error();
MinError.prototype.constructor = MinError;

try {
  throw new MinError("spesiell melding");
} catch (e) {
  console.log(e.name);     // "MinError"
  console.log(e.message);  // "spesiell melding"
  console.log(e.stack);
}</code></pre>