<h2>Håndtering av spesifikk Error type</h2>
<pre><code>try {
    throw new RangeError("Å nei!");
} catch (e) {
   if (e instanceof EvalError) {
      console.log(e.name + ": " + e.message);
   } else if (e instanceof RangeError) {
      console.log(e.name + ": " + e.message);
   }
   // ... etc
}</code></pre>

<aside class="notes">
    <ul>
        <li>Det er bare en <code>catch</code> pr try</li>
        <li>Man må altså teste på annen måte hvis man kan fange flere feil</li>
        <li>Noen browsere har multi-catch, men ikke alle </li>
    </ul>
</aside>