<h2>Innebygde error typer</h2>
<code>
<ul>
    <li>Error</li>
    <li>EvalError</li>
    <li>RangeError</li>
    <li>ReferenceError</li>
    <li>SyntaxError</li>
    <li>TypeError</li>
    <li>URIError</li>
</ul>
</code>
<aside class="notes">
    <ul>
        <li>EvalError - eval() som kaster</li>
        <li>RangeError - numerisk variabel eller parameter er utenfor gyldig range</li>
        <li>ReferenceError - ugyldig referanse</li>
        <li>SyntaxError - jepp, du gjettet riktig</li>
        <li>TypeError - variabel eller parameter har feil type</li>
        <li>URIError - encodeURI() eller decodeURI() har fått ugyldig verdi</li>
    </ul>
</aside>
