<h2>Kaste helt ville Errors</h2>
<ul>
    <li> Gyldig syntaks </li>
    <li> Virker! </li>
    <li> IKKE BRUK! </li>
</ul>
<pre><code contenteditable>throw true;
throw 5;
throw null;
throw true;
throw undefined;
throw {};
throw new SyntaxError("useful error message");</code></pre>
